<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <title>TODOS</title>
    </head>
    <body>
      <main class="container">
          <h1 class="title">My ToDos</h1>
          <section class="todo-list">
              <ul>
                  {{#todos}}
                  <li><a href="/todo/{{id}}" rel="item">{{title}}</a></li>
                  {{/todos}}
              </ul>
          </section>
          <section>
              <form action="/todo" method="post" id="todo-form"> 
                  <label for="new-todo">Title:</label>
                  <input type="text" id="new-todo" name="title">
                   <label for="text">Details:</label>
                  <input type="text" id="text" name="text">
                  <button id="save" type="submit">Submit</button>
              </form>
          </section>
      </main>
    </body>
    <script>
        document
        .getElementById("todo-form")
        .addEventListener("submit", (event) => {
        event.preventDefault();
       
        var formData = "";
        var formEl = event.target;
        for (var i = 0; i < formEl.length; ++i) {
            formData = formData + (formEl[i].name + "=" + formEl[i].value + "&");
        }
     
        var url = '/todo';
        var fetchOptions = {
            method: 'POST',
            body: formData
        };
        
           var responsePromise = fetch(url, fetchOptions)
      .then((res) => {
        const host = window.location.host;
        const location = res.headers.get("location");
        window.location.replace("http://" + host + location);
      })
    });
    </script>
</html>

