<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>TODOS</title>
    </head>
    <body>
        <main>
            <h1 class="title">{{title}}</h1>
            <section class="listing-detail">
            <p>{{text}}</p>
            </section>
            <section>
                <a href="/todo" rel="collection">Back to Listings</a>
            </section>
        </main>
    </body>
</html>
