<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <title>TODOS</title>
      <link rel="stylesheet" type="text/css" href="/src/main/resources/index.css">
    </head>
    <body>
      <main class="todos-container">
          <h1 class="title">My ToDos</h1>
          <section class="todo-list-container">
            <ul class="todo-list">
                {{#todos}}
                <li class="todo-list-item"><a href="/todo/{{id}}" rel="item">{{title}}</a></li>
                {{/todos}}
            </ul>
          </section>
          <section>
            <h2 class="todo-form-label">Add a new todo</h2>
            <p class="todo-form-instructions"> To add a new todo, submit a title and details in the form below.</p>
            <form action="/todo" method="post" id="todo-form"> 
                <p>
                    <label for="new-todo">Title:</label>
                    <input type="text" id="new-todo" name="title">
                </p>
                <p>
                    <label for="text">Details:</label>
                    <textarea type="textarea" id="text" name="text" rows="5" cols="33"></textarea>
                </p>
                <br>
                <button type="submit" class="save-button">Save</button>
            </form>
          </section>
      </main>
       <footer>
            &copy 2019 @angieg0nzalez | 8th Light Apprenticeship
        </footer>
    </body>
    <script>
        document
        .getElementById("todo-form")
        .addEventListener("submit", (event) => {
        event.preventDefault();
        var formData = "";
        var formEl = event.target;
        for (var i = 0; i < formEl.length; ++i) {
            formData = formData + (formEl[i].name + "=" + formEl[i].value + "&");
        }

        var url = '/todo';
        var fetchOptions = {
            method: 'POST',
            body: formData
        };
        
           var responsePromise = fetch(url, fetchOptions)
      .then((res) => {
        const host = window.location.host;
        const location = res.headers.get("location");
        window.location.replace("http://" + host + location);
      })
    });
    </script>
</html>
