<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>TODOS</title>
    </head>
    <body>
        <main>
            <h1 class="title">{{title}}</h1>
            <section class="listing-detail">
                <p>{{text}}</p>
                <form action="/todo/{{id}}/toggle" method="post">
                    <label for="toggle">Mark as done:</label>
                    <button id="toggle" type="submit"> Done </button>
                </form>
            </section>
            {{^done}}
            <p class="incomplete"> Not Done</p>
            {{/done}}
            {{#done}}
            <p class="complete"> DONE </p>
            {{/done}}
            <section>
                <a href="/todo" rel="collection">Back to Listings</a>
            </section>
        </main>
    </body>
</html>

<style>
.complete {
    color: green;
}

.incomplete {
    color: red;
}
</style>